/* Assuming you have defined $primary-color, $secondary-color, and other necessary variables in 'variables.scss' */

@import 'variables';

/* Votre code SCSS pour la classe .navbar reste inchangé */
.navbar {
    position: fixed;
    width: 100%;
    padding: 1em 5em 1em 5em;

    position: fixed;
    width: 100%;
    padding: 1em 5em;
    background: transparent; // Transparent par défaut
    transition: background 0.3s ease-in-out; // Transition fluide
    z-index: 1000; // Priorité au-dessus des autres éléments


    &.scrolled {
        background: $primary-color; // Change la couleur de fond au scroll
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Optionnel, ajoute une ombre pour un effet propre
    }

    /* Nouveau conteneur interne avec espace entre les éléments */
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* Assurez-vous que le conteneur occupe toute la largeur */

        .navbar__logo {
            width: 8em;
        }

        .navbar__link {
            text-decoration: none;
            color: $secondary-color;
            font-size: 1.3em;
            position: relative; /* Ensure the pseudo-element is positioned relative to the link */

            /* Create the pseudo-element for the underline */
            &::before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0; /* Start with 0 width */
                height: 2px;
                background-color: $fourth-color;
                transition: width 200ms ease-in; /* Control the underline's speed */
            }

            &:hover::before {
                /* On hover, expand the underline to the full width */
                width: 100%;
            }
        }
        
        ul {
            display: flex;
            gap: 3em;
        }

        li {
            list-style: none;
            display: inline-block;
        }
    }
}
