@import 'variables';

.projects {
    display: flex;
    flex-direction: column;

    .projects__title {
        @include title-style;
        text-align: center;
    }

    .projects__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5rem;

        .projects__list--card {
            width: calc((100% / 3) - 5rem); // Ajuste la largeur pour qu'il y ait 3 cartes max par ligne
            max-width: 30rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            border-radius: 15px;
            border-bottom: 2px solid $third-color;
            padding-bottom: 2rem;

            img {
                width: 100%;
                max-height: 17rem;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            h4 {
                color: $fourth-color;
                font-size: 1.5rem;
            }

            h5 {
                color: $third-color;
                font-size: 1rem;
            }

            ul {
                list-style: none;
                /* Supprime les puces par défaut */
                padding-left: 0;

                li {
                    position: relative;
                    padding-left: 2rem;
                    /* Espace pour le chevron */
                    margin: 1rem 0;

                    &::before {
                        content: "chevron_right";
                        /* Nom de l'icône Material Icons */
                        font-family: "Material Icons";
                        /* Utilise la police Google Fonts */
                        position: absolute;
                        left: 0;
                        font-size: 1.2rem;
                        color: $third-color;
                        /* Change la couleur */
                    }

                    span {
                        font-weight: bold;
                        color: $third-color;
                    }
                }
            }

            .project__list--card-link {
                width: 100%;
                display: flex;

                a {
                    width: 100%;
                    color: $secondary-color;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &:hover {
                        opacity: 0.5;
                    }

                    img {
                        width: 50px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    .projects__title {
        font-size: 2rem !important;
    }

    .projects__list {
        flex-direction: column;
        align-items: center ;

        .projects__list--card {
            width: 80% !important;
        }
    }

}